{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col-12">
      <h4 class="text-uppercase text-center">Current Medications</h4>
    </div>
  </div>
  <div class="row match-height">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="tab-content px-1 pt-1">
              <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab"
              aria-expanded="true">
              <div class="container">
                {% if data['medication_name_0'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_0'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_0'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_0'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_1'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_1'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_1'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_1'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_2'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_2'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_2'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_2'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_3'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_3'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_3'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_3'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_4'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_4'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_4'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_4'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_5'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_5'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_5'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_5'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_6'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_6'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_6'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_6'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_7'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_7'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_7'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_7'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}


                {% if data['medication_name_8'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_8'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_8'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_8'] }} / day
                  </div>
                </div>
                <hr />
                {% endif %}



                {% if data['medication_name_9'] %}
                <div class="row">
                  <div class="col col-5">
                    {{ data['medication_name_9'] }}
                  </div>
                  <div class="col col-3">
                    {{ data['medication_dose_9'] }}mg
                  </div>
                  <div class="col col-4">
                    {{ data['medication_freq_9'] }} / day
                  </div>
                </div>
                {% endif %}


              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
